section.charts {
	display: flex;
}

.chart-inner {
	width: fit-content;
	margin: 0 auto;
}

.chart h3 {
	margin: 0.4rem 0 1rem;
	color: #354052;
}

.graph,
.pie {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.graph {
	width: 8.438rem;
	height: 3.156rem;
}

.pie {
    width: 3.8rem;
    height: 3.8rem;
    margin: 0 0 0 1.7rem;
}

.chart.blue .graph {
	background-image: url(../Images/graphblue@3x.png);
}

.chart.red .graph {
	background-image: url(../Images/graphred@3x.png);
}

.chart.blue .pie {
	background-image: url(../Images/pieblue@3x.png);
}

.chart.red .pie {
	background-image: url(../Images/piered@3x.png);
}

.followers {
	margin: 0 0 0.6rem;
	color: #8a96a0;
}

.followers span {
	font-size: 0.844rem;
	color: #37394c;
	padding-right: 0.4rem;
}

.data {
	display: flex;
	position: relative;
}

.chart {
	width: 40%;
	justify-content: center;
	align-items: center;
}


@media (max-width: 1080px) {
	.data {
		flex-direction: column-reverse;
	}
	.pie {
		margin: 0.3rem;
		position: absolute;
		right: -30px;
		top: -30px;
	}
	.followers,
	.graph {
		padding: 1rem 0 0;
	}
}

@media (max-width: 780px) {
	section.charts {
		flex-direction: column;
	}
	.chart {
		width: 90%;
	}
}