/* Dashboard - Main */
main {
	display: flex;
	position: relative;
	background-color: #fafbfc;
	height: calc(100vh - 2.28rem);
}

/* Tabs Navigation */
ul.tabs {
	width: 2.656rem;
	margin: 0;
	padding: 1rem 0;
	background-color: #fff;
	border: solid 0.5px #ebedf8;
}

ul.tabs li {
	height: 0.656rem;
	width: 0.719rem;
	padding: 1rem 0.5rem;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer;
}

li.overview.active {
	background-image: url(../Images/dashboard.svg);
}
li.overview {
	background-image: url(../Images/dashboard-off.svg);
}
li.chat.active {
	background-image: url(../Images/chat.svg);
}
li.chat {
	background-image: url(../Images/chat-off.svg);
}
li.folders.active {
	background-image: url(../Images/folder.svg);
}
li.folders {
	background-image: url(../Images/folder-off.svg);
}
li.messages.active {
	background-image: url(../Images/message.svg);
}
li.messages {
	background-image: url(../Images/message-off.svg);
}
li.settings.active {
	background-image: url(../Images/cog.svg);
}
li.settings {
	background-image: url(../Images/cog-off.svg);
}


/* Views */
.views {
	/* margin: 1rem 1.5rem; */
	margin: 1rem auto;
	width: calc(100vw - 2.656rem);
	width: 90%;
	max-width: 1500px;
}

.view {
	display: none;
}

.view.overview,
.view.chat,
.view.folders,
.view.messages,
.view.settings {
	display: block;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.box {
	padding: 0.96rem 1.4rem;
	background-color: #fff;
	border-radius: 1.9px;
	border: solid 0.5px #ebedf8;
}

/* Other Views / General */
section.box.other {
	min-height: 200px;
	padding: 2rem 1rem;
	font-size: 0.6rem;
	line-height: 1rem;
	color: #8a96a0;
}

section.box.other h2 {
	color: #000000;
	margin-bottom: 0.5rem;
}

@media (max-width: 1290px) {
	.box {
		padding: 0.96rem 0.6rem;
	}
}

@media (max-width: 780px) {
	main {
		height: auto;
		padding-bottom: 4rem;
	}
	ul.tabs {
		width: 100%;
		position: fixed;
		bottom: 0;
		display: flex;
		margin: 0;
		padding: 0;
		z-index: 11111;
	}
}

/* Animation for Views Change */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}